<div class="footer-social text-center text-md-start">
    <h5 class="text-light">Síguenos</h5>
    <div class="social-icons d-flex gap-3 justify-content-center justify-content-md-start">
        <a href="https://www.facebook.com/profile.php/?id=61552746324574" target="_blank" rel="noopener" class="social-icons" title="Facebook">
            <i class="fab fa-facebook-f"></i>
        </a>
        <a href="https://www.tiktok.com/@ikazaimport" target="_blank" rel="noopener" class="social-icons" title="Tiktok">
            <i class="fab fa-tiktok"></i>
        </a>
        <a href="https://wa.me/943455686" target="_blank" rel="noopener" class="social-icons" title="Whatssap">
            <i class="fab fa-whatsapp"></i>
        </a>
    </div>
</div>