<footer class="footer-minimalista py-5 pt-5 pb-3 mt-5">
    <div class="container">
        <div class="row gy-4">
            <div class="col-12 col-md-3">
                <app-footer-brand></app-footer-brand>
            </div>

            <div class="col-6 col-md-3">
                <app-footer-links></app-footer-links>
            </div>

            <div class="col-6 col-md-3">
                <app-footer-social></app-footer-social>
            </div>

            <div class="col-12 col-md-3">
                <app-footer-contact></app-footer-contact>
            </div>
        </div>
        
        <app-footer-copyright></app-footer-copyright>
    </div>
</footer>