/* new-products.component.css */
.form{
    width: 280px;
}

.product-image {
    height: 330px;
    object-fit: cover;
}

.card {
    transition: transform 0.2s ease-in-out;
    span{
        z-index: 1;
    }
}

.card:hover {
    transform: translateY(-5px);
}

.card-precio {
    font-size: 1.25rem;
    font-weight: bold;
}

.badge {
    font-size: 0.75rem;
}

@media (max-width: 768px) {
    .product-image {
        height: 250px;
    }
}